
<div class="well">
    <form action="/user/login" method="post">
        <input type="text" name="Email" placeholder="Email" class="form-control" />
        <input type="text" name="Password" placeholder="Password" class="form-control" />
        <button class="btn btn-primary">Login</button>
        <br />
        <h4>Don't have an account? <a href="/user/signup">Sign Up</a></h4>
    </form>
</div>

